profiles {

    singularity {
        singularity.enabled = true
        runOptions = '-B /home2/s230860/'
        process {
            executor = 'slurm'
            withLabel: pycytoandr {
                container = '/home2/s230860/nextflow_docs/Singularity/ashdederich_cellpainting.sif'
                cpus = 36
                memory = 50.GB
                queue = '512GB'
            }

            withLabel: cellprof {
                container = '/home2/s230860/nextflow_docs/Singularity/cellprofiler_4.2.1--py38hec16e2b_2.sif'
                cpus = 36
                memory = 100.GB
                queue = '512GB'
            }

            withLabel: coreutils {
                container = '/home2/s230860/nextflow_docs/Singularity/coreutils_8.31--h14c3975_0.sif'
                cpus = 18
                memory = 40.GB
                queue = '512GB'
            }

            withLabel: tabix {
                container = '/home2/s230860/nextflow_docs/Singularity/tabix_1.11--hdfd78af_0.sif'
                cpus = 18
                memory = 40.GB
                queue = '512GB'
            }

            withLabel: profiling {
                container = '/home2/s230860/nextflow_docs/Singularity/profiling_latest.sif'
                cpus = 18
                memory = 40.GB
                queue = '512GB'
            }

            withLabel: replicating {
                container = '/home2/s230860/nextflow_docs/Singularity/replicating_latest.sif'
                cpus = 18
                memory = 40.GB
                queue = '512GB'
            }
        }
    }

    conda {
        process {
            withLabel: pycytoprogram {
                conda = '/home2/s230860/.conda/envs/profiling'
                cpus = 14
                memory = 50.GB
                queue = '256GB'
            }
            
            withLabel: r {
                conda = '/home2/s230860/.conda/envs/rpackages'
                cpus = 14
                memory = 25.GB
                queue = '256GBv1'
            }

            withLabel: replicating {
                conda = '/home2/s230860/.conda/envs/replicating'
                cpus = 14
                memory = 25.GB
                queue = '256GB'
            }
        }
        process.executor = 'slurm'
    }
}
